html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
     display: block;
}
body {
     line-height: 1;
}
ol, ul {
     list-style: none;
}
blockquote, q {
     quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
     content: '';
     content: none;
}
table {
     border-collapse: collapse;
     border-spacing: 0;
}
.clear{clear:both;}
body {
background:#eee;

}
#content {
     padding:100px 50px 50px;
     z-index:1;
}
#header {
     background:#fff;
     z-index:2;
     height:50px;
     padding:0 50px;
     position:fixed;
     width:calc(100% - 100px);
}
h1 {
     font:700 15pt/50px 'IBM Plex Sans',Arial;
     letter-spacing:4px;
     color:#6b76ff;
     display:inline-block;

}
#nav {
     position:absolute;
     right:50px;
     top:0;
}
#nav li {
     float:left;
     font:500 11pt/50px 'IBM Plex Sans',Arial;
     margin-left:40px;
     color:#888;
     cursor:pointer;
     letter-spacing:-.4px;
}
#nav li:last-child {
     border:1px solid #6b76ff;
     line-height:30px;
     margin-top:8px;
     padding:0 18px;
     border-radius:100px;
     color:#6b76ff;
}
#nav li:hover {
     color:#000;
}
#nav li:last-child:hover {
     color:#fff;
     background:#6b76ff;
}
h2 {

     font:900 45pt/100px "IBM Plex Sans",Helvetica,Arial;
     color:#333;
     text-transform:uppercase;
     letter-spacing:-3px;
     margin-top:50px;
     display:block;
}
.date {
     display:block;
     font:italic 400 14pt/30px Georgia,"Times New Roman","IBM Plex Sans";
     text-transform:uppercase;
     font:500 12pt/30px "IBM Plex Sans";
     color:#999;
    position: relative;
    letter-spacing:-.5px;
    z-index: 1;
}
.date:before {
        border-top: 1px solid #ccc;
        content:"";
        margin: 0 auto;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }
.date span {
        background: #eee;
        padding: 0 15px 0 0;
}
