html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd,ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;list-style:none;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/*

#mainmenu
#menu
#header
#content
	.navigation		#sidebar
	.post				.sidebarbox
	.post				.sidebarbox
	.post				.sidebarbox
	.navigation
	.new.post

*/

/* The Basics */

a {text-decoration:none;}
.left {float:left}
.right{float:right}
:focus {outline-width:0;}
.clear{clear:both;}
:root {
	--red:#FB889D;
	--fadedred:#F9ABB9;
	--yellow:#FEB64D;
	--blue:#5894FF;
	--darkBlue:#1b3c58;
	--anotherBlue:#00A6CF;
	--green:#52BAA1;
	--darkgreen:#34867B;
	--lightgreen:#59CCBB;
	--purple:#7757ff;
	--lightpurple:#9BA0FC;
	--orange:#FFB062;
	--bg:#F5F7FA;
	--darkbg:#002B39;
	--darkborder:#ccdce0;
	--border:#81D7CD;
	--border:#e0e0e0;
	--lightborder:#eaf1f3;
	--darkbg:#25262B; /*color of sidebar image*/
	--darkestbg:#1C1D21;

	--minContentWidth:1100px;
	--postWidth:calc(100% - var(--sidebarWidth));
	--sidebarWidth:320px;
	--padding:20px;
	--radius:6px;

	--font:"Open Sans",Helvetica;
}
select{
	cursor:pointer;
	-webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image:url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='rgba(0,0,0,.4)' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position:calc(100% - 4px) 50%;
    background-repeat: no-repeat;
    background-size: 20px;
}
input{
	border-radius:0;
}
input:focus {
	outline-width:none;
}
option {
	background:#fff !important;
	color:#000;
}
body {
	font-family:var(--font);
	background:#F7F8FA;
	min-width:var(--minContentWidth);
}
#container {
	min-height:100%;
	position:relative;
}

/* Hidden Menu */

#hiddenMenu {
	height:0;
	overflow:hidden;
	padding:0px 40px;
	background:var(--darkBlue);
}
#hiddenMenu .quarter {
	width:25%;
	float:left;
}
#hiddenMenu .clear {
	height:20px;
}
#hiddenMenu .logo img {
	width:80px;
	margin:22px 0 0 20px;
}
#hiddenMenu h4 {
	margin:20px 0 12px 20px;
	color:var(--blue);
}
#hiddenMenu li {
	color:#fff;
	font:10pt/20px var(--font);
	margin-left:20px;
}
#hiddenMenu li ul li {
	margin-left:15px;
}

/* The Top Bar */

#mainmenu {
	height:0px;
	overflow:hidden;
	padding:0 40px;
	background:var(--darkBlue);
}
#mainmenu .main li {
	float:left;
	font:9pt/24px Helvetica;
	color:rgba(255,255,255,.7);
	cursor:pointer;
	padding:0 15px;
	background:rgba(255,255,255,.1);
	border-radius:var(--radius);
	margin:8px 5px 0 0;
}
#mainmenu .main li.active, #mainmenu .main li:hover {
	background:rgba(255,255,255,.8);
	color:#3E6175;
}
#mainmenu .admin {
	float:right;
}
#mainmenu .admin li {
	float:left;
	font:9pt/40px Helvetica;
	color:rgba(255,255,255,.7);
	cursor:pointer;
	margin-left:var(--padding);
}
#mainmenu li:hover {
	color:#fff;
}

/*  Secondary Nav Bar */

#menu {
	height:40px;
	padding:40px;
	font:12pt/40px var(--font);
	background:#fff;
}
#menu > i {
	float:left;
	line-height:40px;
	font-size:14pt;
	color:rgba(0,0,0,.3);
	margin-right:var(--padding);
	cursor:pointer;
}
#menu > i:hover {
	color:#444;
}
#postID {
	float:left;
	background:#FBF2C0;
	text-align:center;
	color:rgba(0,0,0,.5);
	font-weight:bold;
	padding:0 15px;
	margin-right:var(--padding);
}
#menu #customer {
	float:left;
	height:40px;
	padding:0 15px;
	margin:0 var(--padding) 0 0;
	font:12pt/40px var(--font);
	border:0;
	width:180px;
	color:var(--green);
	background:rgba(0,0,0,.03);
	letter-spacing:-.5px;
}
#menu #customer::placeholder {
	color:var(--green);
}
#nav {
	float:left;
	color:#999;
	letter-spacing:-.5px;
	padding-left:10px;
}
#nav li {
	display:inline-block;
	margin:0 20px 0 0;
	cursor:pointer;
}
#nav li:last-child {
	margin-right:0;
}
#menu li:hover  {
	color:var(--green);
}
#nav li.active {
	color:var(--darkgreen);
	border-bottom:1px solid rgba(0,0,0,.2);
	line-height:39px;
	font-weight:bold;
}

/* Post header */

#header {
	padding:40px 40px 0 40px;
	position:relative;
    	border-top: 1px solid rgba(0,0,0,.05);
}
#header h1 {
	font:900 17pt/32px var(--font);
	letter-spacing:-1.3px;
	margin:0 0 5px 0;
	color:var(--darkgreen);
}
#header .details {
	font:italic 11pt/24px var(--font);
	display:inline-block;
	letter-spacing:-.3px;
	height:24px;
	color:rgba(0,0,0,.4);
}
#header .details span {
	font-weight:bold;
}

/* Sidebar */

#sidebar {
	right: 0;
  	width: var(--sidebarWidth);
    	background: var(--darkbg);
    	padding-bottom: 40px;
    	position: absolute;
    	bottom: 0;
    	top: 0;
}
#sidebar .sidebarbox {
	padding:40px 40px 0 40px;
	position:relative;
}
/*
#sidebar .sidebarbox:first-child {
	background:rgba(255,255,255,.01);
	padding-bottom:38px;
	border:1px solid rgba(0,0,0,.4);
}
*/
/* Search bar */

#sidebar .search {
	position:relative;
}
#sidebar .fa-search {
	position:absolute;
	line-height:40px;
	font-size:14pt;
	right:46px;
	bottom:0;
	color:#777;
}
/*
#sidebar .sidebarbox:first-child .fa-search {
	bottom:38px;
}
*/
#sidebar input[type="text"] {
	padding:0 30px 0 0;
	margin:0;
	font:12pt/40px var(--font);
	width:calc(100% - 30px);
	color:#fff;
	border:0;
	border-bottom:1px solid rgba(255,255,255,.2);
	background:none;
}
#sidebar input[type="text"]:focus {
	border-bottom:1px solid #fff;
}
#sidebar input[type="text"]::placeholder {
	color:#666;
	font-style:italic;
}

/* Main Navigation */

#sidebar li {
	color:#777;
	font:700 11pt/45px var(--font);
	cursor:pointer;
	letter-spacing:-.5px;
	padding: 0 25px 0 50px;
	background:rgba(255,255,255,.03);
	position:relative;
}
#sidebar li .fa {
	position:absolute;
	left:20px;
	line-height:45px;
}
#sidebar li.newpost {
	padding:0;
}
#sidebar li.newpost a {
    background: var(--green);
    padding: 0 25px 0 50px;
	display:block;
	color:#fff;
	position:relative;
}
#sidebar li.active {
	color:#fff;
	background:rgba(255,255,255,.1);
}
#sidebar li.link:hover {
	color:#ddd;
	background:rgba(255,255,255,.1);
}
#sidebar li:last-child {
	margin-bottom:0;
}

/* Meta Data */

.meta h4 {
	float:left;
	width:calc(50% - 11px);
	margin:0 0 10px;
}
.meta h4:first-child {
	margin-right:20px;
}
.meta select {
	color:#666;
	width:calc(50% - 11px);
	font-size:10pt;
	line-height:30px;
	float:left;
	border:0;
	font-weight:bold;
	padding:0 25px 0 8px;
	height:30px;
	margin:0;
	border-radius:0;
	background-color:#fff;
	background-image:url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='rgba(0,0,0,.4)' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
	background-position:calc(100% - 4px) 50%;
	background-repeat: no-repeat;
	background-size: 20px;
}
.meta .priority {
	margin-right:20px;
}
select.priority.critical{
	background-color:var(--red);
	color:#fff;
	background-image:url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");

}
select.priority.high{background-color:var(--yellow);}
select.priority.medium{background-color:var(--blue);}
select.priority.low{background-color:#777;}

/* Linked Records */

h4 {
	font:600 10pt/1 var(--font);
	text-transform:uppercase;
	margin:20px 0 10px 0;
	letter-spacing:-.5px;
	color:rgba(255,255,255,.3);
}
#sidebar h4:first-child {
	margin-top:0;
}
#sidebar .record {
	font:10pt/20px var(--font);
	padding:10px;
	position: relative;
	background:var(--darkestbg);
	margin-bottom:10px;
	color:rgba(255,255,255,.8);
	letter-spacing: -.3px;
	border-right:30px solid var(--darkbg);
	width:calc(var(--sidebarWidth) - 100px);
}
#sidebar .record:last-child {
	margin-bottom:0;
}
#sidebar .record .number {
	font-weight: bold;
	float:right;
	padding-left:6px;
	color:var(--lightpurple);
	cursor: pointer;
}
#sidebar .record .name {
	display:block;
	padding-right:50px;
}
#sidebar .record:hover > .fa { /*display delete button */
	display:inline-block;
}
#sidebar .record .fa {
	color:rgba(255,255,255,.5);
	position:absolute;
	right:-30px;
	top:0;
	font-size:13pt;
	width:30px;
	height:100%;
	cursor: pointer;
	text-align:center;
	line-height:40px;
	display:none;
}
#sidebar .record .fa:hover {
	color:#fff;
}

/* People section of sidebar */

#sidebar .people {
	padding:0 0 15px;
	min-height:40px;
	position:relative;
}
#sidebar .people:last-child {
	padding-bottom:0;
}
#sidebar .people .profilepic {
	width:40px;
	height:40px;
	position:absolute;
	left:0;
	border-radius:50px;
}
#sidebar .people .name {
	float:left;
	font:11pt/22px var(--font);
	padding:0 0 0 55px;
	letter-spacing:-.5px;
	color:rgba(255,255,255,.8);
}
#sidebar .people .role {
	position: absolute;
   	color:#888;
  	font: 9pt/1 var(--font);
    	left:55px;
     top: 26px;
}
#sidebar .people .role .fa {
	color:#888;
	padding-left:8px;
	cursor:pointer;
}
#sidebar .people .role .fa:hover {
	color:var(--green)
}
#sidebar .people .role span,#sidebar .people .role span {
	font-weight:bold;
	color:var(--red);
}
#sidebar .button {
	float:left;
	height:30px;
	border:none;
	color:#ddd;
	font:700 10pt/30px var(--font);
	cursor:pointer;
	color:rgba(255,255,255,.8);
	background-color:rgba(255,255,255,.05);
	padding:0;
}
#sidebar .sidebarbox.newPeople .button {
	width:calc(50% - 5px);
}
#sidebar .button:first-child {
	margin-right:10px;
}
#sidebar select.button {
	margin-top:10px;
	padding:0 10px;
	width:100%;
	background-image:url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
}
#sidebar .button:hover {
	background-color:rgba(255,255,255,.15);
	color:#fff;
}
#sidebar .subSearch {
	padding-top:40px;
}
#sidebar .subSearch input[type="text"] {
	margin-top:5px;
}
#sidebar .subSearch.newPeople input, #sidebar .subSearch.newPeople .fa {
	display:none;
}

/* Page Navigation */

.navigation {
	height:20px;
	padding:0 0 20px 0;
	width:calc(100% - 0px);
	font:bold 11pt/20px var(--font);
	letter-spacing:-.5px;
	color:rgba(0,0,0,.3);
}
.navigation .fa {
	padding-right:5px;
}
.navigation .rightarrow .fa, .navigation .leftarrow .fa {
	padding:0;
}
.navigation .link {
	float:right;
	position:relative;
}
.navigation .link > span {
	padding:0 10px;
	cursor:pointer;
}
.navigation .link span:hover {
	color:var(--green);
}
.navigation .link .notVisible {
	display:none;
}

/* Filter drop-down */

.dropdown {
	position:absolute;
	background:var(--darkbg);
	border-radius:var(--radius);
	top:34px;
	left:10px;
	color:#000;
	z-index:1000;
	width:220px;
	box-shadow:0 10px 15px rgba(0,0,0,.2);
	font:11pt/24px var(--font);
	border-radius:var(--radius);
	border-top:3px solid var(--darkbg);
	cursor:default;
	display:none;
}
.dropdown.show {display:block;}
.dropdown:before {
	content:"";
	border-style: solid;
	border-width: 0px 10px 8px 10px;
	border-color: transparent transparent var(--darkbg) transparent;
	position: absolute;
	left: 20px;
	top:-11px
}
.dropdown h4  {
	margin:25px 20px 15px 20px;
}
.dropdown input[type="checkbox"]{
	float:left;
	margin:7px 15px 0 0;
}
.dropdown label {
	float:left;
	margin-bottom:5px;
	color:#fff;
	cursor:pointer;
	padding:0 20px;
	letter-spacing:-.5px;
}
.dropdown label:last-child {
	margin-bottom:0;
}
.dropdown span:hover {
	color:#fff !important;
}
.dropdown .fa-check {
	position:absolute;
	bottom:0;
	left:20px;
	color:#fff;
	font-size:11pt;
	line-height:45px;
}
.dropdown button {
	background:var(--green);
	border:0;
	padding: 0 0 0 50px;
	color:#fff;
	margin-top:15px;
	font:bold 11pt/45px var(--font);
	cursor:pointer;
	width:100%;
	border-bottom-right-radius:var(--radius);
	border-bottom-left-radius:var(--radius);
	text-align:left;
}

/*       */

.navigation .nav {
	float:right;
	display:inline-block;
	margin-left:10px;
	color:rgba(0,0,0,.3);
}
.navigation .rightarrow, .navigation .leftarrow {
	float:right;
	font-size:17pt;
	cursor:pointer;
	padding-bottom:calc(var(--padding) / 2);
}
.navigation .rightarrow:hover, .navigation .leftarrow:hover {
	color:var(--green);
}
.navigation .pages {
	float:right;
	font-weight:Bold;
	margin:0 8px;
	cursor:pointer;
}
.navigation .pages span:hover {
	color:var(--green);
}
.navigation .pages span {
	padding:0 5px;
}
.navigation .pages span:nth-child(2) {
	color:var(--green);
}

/* Details Page */

#details,#attachments {
	display:none;
	background:#fff;
	border-top:4px solid var(--border);
	border-radius:var(--radius);
	padding:30px;
	box-shadow:0 5px 10px rgba(0,0,0,.05);
	width:calc(100% - 140px);
	margin: 40px;
}
#attachments .file {
	margin:0 10px 10px 0;
	float:none;
	width:calc(100% - 30px);
	padding:0 15px;
	background:#fafafa;
	border-radius:var(--radius);
	border:1px solid rgba(0,0,0,.05);
	font:11pt/40px Helvetica;
	color:var(--green);
	cursor:pointer;
}
#details label {
	font:10pt/30px var(--font);
	color:#555;
}
#details input[type="text"], #details select {
	margin-bottom:10px;
	padding: 0 10px;
	border-radius: var(--radius);
	font:13pt/40px var(--font);
	border: 1px solid rgba(0,0,0,.15);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.05);
	color: #333;
}
#details .fullWidth {
	width:calc(100% - 22px);
}
#details .leftSide {
	float:left;
	width:50%;
	max-width:300px;
}
#details input.leftSide {
	width:calc(50% - 52px);
	max-width:calc(300px - 52px);
	margin-right:30px;
}
#details select.leftSide {
	width:calc(50% - 32px);
	max-width:calc(300px - 32px);
	margin-right:30px;
}
#details .rightSide {
	float:left;
	width:calc(50% - 22px);
	max-width:calc(300px - 22px);
}
#details select.rightSide {
	width:50%;
	max-width:300px;
}
#details select {
	height:42px;
	box-shadow:0 3px 5px rgba(0,0,0,.05);
}

/* Content */

#content {
	width:var(--postWidth);
	float:left;
}

/* Posts */

#posts {
	padding:40px;
}
#content .post {
	margin-top:calc(2 * var(--padding));
	position:relative;
	border-top:4px solid var(--border);
	background:#fff;
	padding:20px 30px;
	border-radius:var(--radius);
	box-shadow:0 10px 15px rgba(0,0,0,.05);
}
#content .post.first {
	margin-top:0;
}
#content .post.last {
	margin-bottom:25px;
}

/* Post Entry */

#content .post .entry {
	padding:0 0 20px 0;
	font:11pt/26px var(--font);
	color:#000;
	overflow:hidden;
}
#content .post .entry a {
	color:var(--lightpurple);
	text-decoration:none;
	border-bottom:1px dotted var(--blue);
}
#content .post .entry p {
	padding-bottom:10px;
}
#content .post .entry p:last-of-type {
	padding:0;
}
#content .post .attachments {
	padding-top:10px;
}
#content .attachments span {
	margin:10px 10px 0px 0;
	background:#fafafa;
	border-radius:var(--radius);
	border:1px solid rgba(0,0,0,.05);
	padding:0 12px;
	font:11pt/30px Helvetica;
	color:var(--green);
	cursor:pointer;
	display:inline-block;
	float:left;
}
#content .post.new .attachments {
	padding-bottom:20px;
}
#content .attachments span:hover, #attachments .file:hover {
	background:#f6f6f6;
}
#content .page .file .fa, #content .page .attachments span .fa {
	padding-right:10px;
}

/* Post Header */

#content .post .header {
	padding:0 0 20px 0;
	height:40px;
	position:relative;
}
#content .post.new .header {
	height:20px;
}
#content .post:before { /**Chat box arrow magic**/
    content:"";
    border-style: solid;
    border-width: 0px 12px 9px 12px;
    border-color: transparent transparent var(--border) transparent;
    position: absolute;
    left: 41px;
    top:-13px;
}
#content .post .header:before { /**inner white part of arrpw**/
    content:"";
    border-style: solid;
    border-width: 0px 12px 9px 12px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left:11px;
    top:-28px;
}
#content .post.epic:before, #content .post.new.public:before {
	border-bottom-color:var(--fadedred);
}
#content .post.new:before {
	border-bottom-color:var(--lightpurple);
}
#content .post.epic {
	border-top-color:var(--fadedred);
}
#content .post .number {
	float:right;
	border:1px solid #eee;
	border-radius:var(--radius);
	height:30px;
	font:bold 10pt/30px var(--font);
	color:rgba(0,0,0,.6);
	padding:0 10px;
	min-width:20px;
	text-align:center;
	margin:5px 0 0 10px;
}
#content .post.epic .number {
	color:var(--red);
}
#content .post .header .flag, #content .post .header .phi {
	float:right;
	position:relative;
}
#content .post .header .flag .fa-flag, #content .post .header .phi i {
	color:#bbb;
	padding:0 10px;
	font-size:13pt;
	line-height:40px;
	cursor:pointer;
	height:40px;
}
#content .post .flag .dropdown {
	left:-170px;
	top:45px;
}
#content .post .flag .dropdown:before {
	left:180px;
}
#content .post .header .phi i {
	color:#ccc;
	font-size:15pt;
}
#content .post .header .phi .fa-lock {
	color:var(--yellow);
}
#content .post .phi:hover {
	color:#777;
}
#content .post .profilepic {
	width:46px;
	height:46px;
	float:left;
	border-radius:50px;
	position:relative;
	top:-3px;
}
#content .post .name {
	float:left;
	padding-left:20px;
	font:900 12pt/24px var(--font);
	letter-spacing:-.5px;
	display:inline-block;
	color:var(--green);
	color:#555;
}
#content .post .name sup, #sidebar .name sup {
	font-size:9pt;
	font-weight:400;
	color:var(--red);
	position:relative;
	top:-4px;
	left:4px;
}
#content .post .header .date {
	position:absolute;
	left:66px;
	top:27px;
	font:9pt/1 var(--font);
	color:#bbb;
	letter-spacing:-.5px;
}
#content .post .date .fa {
	color:#ccc;
	margin-left:10px;
	cursor:pointer;
}
#content .post .date .fa:hover {
	color:var(--green);
}

/* Post footer */

#content .post .footer {
	height:20px;
	font:11pt/20px var(--font);
	letter-spacing:-.5px;
	color:rgba(0,0,0,.4);
}
#content .post .footer .left {
	margin-right:10px;
}
#content .post .footer .fa {
	padding-right:10px;
	cursor:pointer;
	font-size:12pt;
}
#content .post .footer .confidential {
	display:none;
	float:right;
	position:relative;
	cursor:pointer;
	padding-left:20px;
	font-weight:Bold;
	font-size:10pt;
}
#content .post .footer .confidential i {
	font-size:12pt;
	position:absolute;
	left:0;
	top:2px;
}
#content .post.phi .footer .confidential {
	display:inline-block;
}
#content .post .footer .confidential .show {
	display:none;
}
#content .post.min .footer .confidential .show {
	display:inline-block;
	color:var(--lightpurple);
}
#content .post.min .footer .confidential .hide {
	display:none;
}
#content .post .footer .confidential:hover {
	color:var(--lightpurple);
}

/* New Post */

#content .post.new {
	border-top-color:var(--lightpurple);
	margin-top:20px;
}
#content .post.new.public {
	border-top-color:var(--fadedred);
}
#content .post.new .header .style .fa {
	color:#666;
	line-height:20px;
	margin-right:15px;
	cursor:pointer;
}
#content .post.new .header > div > i {
	height:20px !important;
	line-height:20px !important;
}
#content .post.new .dropdown {
	top:35px;
}
#content .post.new select {
	height: 20px;
	padding: 0 25px 0 5px;
	margin: 0 10px 0 0;
	border:0;
	font:10pt/20px var(--font);
	background-color:#f3f3f3;
	border-radius:var(--radius)
}
#content .post.new textarea {
	border:0;
	resize:none;
	background:#fff;
	display:block;
	font:11pt/26px Helvetica;
	color:#444;
	min-height:140px;
	min-width:calc(100% - 40px);
	max-width:calc(100% - 40px);
}
#content .post.new .footer label {
	margin:0 0 0 15px;
	cursor:pointer;
	font-size:10pt;
}
#content .post.new input[type="checkbox"] {
	margin-right:10px;
	cursor:pointer;
}
#content .post.new .footer button {
	color:var(--green);
	font:bold 10pt/20px var(--font);
	margin:0 0 0 25px;
	padding:0;
	border:0;
	cursor:pointer;
	background:none;
}
#content .post.new .footer button .fa {

}
#content .post.new .footer .left:hover {
	color:var(--green);
	cursor:pointer;
}
