html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd,ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;list-style:none;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/*

#mainmenu
#menu
#header
#content
	.navigation	#sidebar
	.post			.sidebarbox
	.post			.sidebarbox
	.post			.sidebarbox
	.navigation
	.new.post

#footer

*/

/* The Basics */

a {text-decoration:none;}
.left {float:left}
.right{float:right}
:focus {outline-width:0;}
.clear{clear:both;}
:root {
	--red:#FB889D;
	--yellow:#FEB64D;
	--blue:#5894FF;
	--darkBlue:#2D3E50;
	--green:#0196AD;
	--bg:#F5F7F8;
	--darkbg:#f0f3f4;
	--border:#ccdce0;
	--lightborder:#eaf1f3;
	--minContentWidth:1000px;
	--postWidth:calc(calc(100% - var(--sidebarWidth)) - var(--padding));
	--sidebarWidth:300px;
	--hiddenMenuWidth:200px;
	--padding:20px;
}
select{
	border-radius:5px;
	cursor:pointer;
}
option {
	background:#fff !important;
	color:#000;
}
body {
	font-family:"Open Sans",Helvetica;
	background:var(--bg);
	padding-left:200px;
}

/* Hidden Menu */

#hiddenMenu {
	width:var(--hiddenMenuWidth);
	position:fixed;
	left:0px;
	top:0;
	height:100%;
	border-top:34px solid rgba(0,0,0,.2);
	background: rgb(45,62,80);
	background: linear-gradient(90deg, rgba(45,62,80,1) 95%, rgba(33,45,58,1) 100%);
}
#hiddenMenu .logo {
	height:71px;
	background:rgba(255,255,255,.05);
	border-bottom:1px solid rgba(255,255,255,.1);
	margin:0 0 20px 0;
}
#hiddenMenu .logo img {
	width:80px;
	margin:22px 0 0 20px;
}
#hiddenMenu h5 {
	padding-left:20px;
	font:100 13pt/24px "Open Sans",Helvetica;
	color:var(--green);
}
#hiddenMenu h5 {
	margin:20px 0 5px;
}
#hiddenMenu li {
	color:#fff;
	font:10pt/24px "Open Sans",Helvetica;
	margin-left:20px;
}
#hiddenMenu li ul {

}

/* The Top Bar */

#mainmenu {
	height:34px;
	background:var(--darkBlue);
	padding:0 var(--padding);
	min-width:var(--minContentWidth);
}
#mainmenu .fa-bars {
	float:left;
	line-height:34px;
	font-size:14pt;
	color:rgba(255,255,255,.4);
	margin-right:var(--padding);
	cursor:pointer;
}
#mainmenu .fa-bars:hover {
	color:rgba(255,255,255,.8);
}
#mainmenu .main li {
	float:left;
	font:9pt/24px Helvetica;
	color:rgba(255,255,255,.7);
	cursor:pointer;
	padding:0 15px;
	background:rgba(255,255,255,.1);
	border-radius:5px;
	margin:5px 5px 0 0;
}
#mainmenu .main li.active, #mainmenu .main li:hover {
	background:rgba(255,255,255,.4);
	color:#fff;
}
#mainmenu .admin {
	float:right;
}
#mainmenu .admin li {
	float:left;
	font:9pt/34px Helvetica;
	color:rgba(255,255,255,.7);
	cursor:pointer;
	margin-left:var(--padding);
}
#mainmenu li:hover {
	color:#fff;
}

/*  Secondary Nav Bar */

#menu {
	height:32px;
	padding:var(--padding);
	margin-bottom:var(--padding);
	min-width:var(--minContentWidth);
	background:#fff;
	border-bottom:1px solid var(--border);
	/*border-top:3px solid var(--darkBlue);*/
	font:11pt/32px "Open Sans",Helvetica;
}
#postID {
	float:left;
	background:#FBF2C0;
	border-radius:5px;
	text-align:center;
	color:#fff;
	color:rgba(0,0,0,.6);
	font-weight:800;
	font-size:10pt;
	padding:0 12px;
	margin-right:var(--padding);
}
#nav {
	float:left;
	color:#888;
}
#nav li {
	display:inline-block;
	margin:0 var(--padding) 0 0;
	cursor:pointer;
}
#menu li:hover  {
	color:var(--green);
}
#nav li.active {
	color:var(--green);
	border-bottom:1px solid var(--green);
	font-weight:bold;
}
#menu #customer {
	border-radius:5px;
	float:left;
	height:32px;
	padding:0 12px;
	margin:0 var(--padding) 0 0;
	font:10pt/32px "Open Sans",Helvetica;
	border:0;
	width:160px;
	color:var(--green);
	background:var(--lightborder);
}
#menu #customer::placeholder {
	color:var(--green);
}
#menu .search {
	float:left;
	position:relative;
}
#menu .search .fa-search {
	position:absolute;
	line-height:32px;
	font-size:11pt;
	left:12px;
	color:#aaa;
}
#menu .search input[type="text"] {
	margin:0 var(--padding) 0 0;
	float:left;
	padding:0 10px 0 34px;
	border-radius:3px;
	font:10pt/30px "Open Sans",Helvetica;
	width:160px;
	color:#000;
	border:1px solid rgba(0,0,0,.15);
}
#menu .search input[type="text"]:focus {
	border:1px solid var(--green);
}
#menu .search input[type="text"]::placeholder {
	color:#888;
}

/* Post header */

#header {
	padding:0 var(--padding);
	min-width:var(--minContentWidth);
	position:relative;
}
#header h1 {
	font:800 19pt/40px "Open Sans","Nunito",Helvetica;
	letter-spacing:-1px;
	margin:0 0 10px 0;
	color:var(--darkBlue);
}
#header .details {
	font:10pt/22px "Open Sans",Helvetica;
	display:inline-block;
	height:22px;
}
#header .details .time {
	font-size:11pt;
	color:rgba(0,0,0,.4);
	float:left;
	margin-right:var(--padding);
}
#header .details .time span {
	font-weight:bold;
	color:rgba(0,0,0,.4);
}
#header select {
	color:var(--green);
	width:110px;
	font-size:10pt;
	line-height:22px;
	float:left;
	background:var(--border);
	border:0;
	font-weight:bold;
	padding:0 2px;
	height:22px;
}
#header select.priority {
	margin:0 var(--padding) 0 0;
	color:#fff;
}
#header select.priority.critical  {background:var(--red);}
#header select.priority.high  {background:var(--yellow);}
#header select.priority.medium {background:var(--blue);}
#header select.priority.low {background:#777;}

/* Content Wrapper */

#content {
	min-width:var(--minContentWidth);
	padding:var(--padding);
}

/* Sidebar */

#sidebar {
	width:var(--sidebarWidth);
	float:right;
}
#sidebar .sidebarbox {
	background:#fff;
	border:1px solid var(--border);
	border-top:3px solid var(--darkBlue);
	padding:var(--padding);
	margin-bottom:var(--padding);
	border-radius:5px;
}
#sidebar .sidebarbox:last-child {
	margin:0;
}
h3 {
	font:100 15pt/30px "Open Sans",Helvetica;
	padding-bottom:10px;
	color:#777;
}
#sidebar li {
	color:#aaa;
	font:13pt/20px "Open Sans",Helvetica;
	margin:5px 0 15px;
	cursor:pointer;
	letter-spacing:-.5px;
}
#sidebar li:last-child {
	margin-bottom:5px;
}
#sidebar li.active, #sidebar li:hover {
	color:var(--darkBlue);
}
#sidebar li .fa {
	padding-right:15px;
	width:20px;
}
#sidebar li:last-child a {
	color:var(--blue);
}
h4 {
	text-transform:uppercase;
	font:600 11pt/1 "Open Sans",Helvetica;
	color:var(--green);
	border-bottom:1px solid var(--border);
	padding:5px 0 var(--padding) 0;
	margin:var(--padding) 0;
	letter-spacing:-.5px;
}
#sidebar h4:first-child {
	margin-top:0;
}
#sidebar .record {
	font:10pt/20px 'Open Sans',Helvetica;
	padding:3px 0;
	position:relative;
	cursor:pointer;
}
#sidebar .record:hover .name, #sidebar .record:hover .number {
	color:#000;
}
#sidebar .record .number {
	color:#aaa;
	position:absolute;
}
#sidebar .record .name {
	margin-left:65px;
	color:#555;
	display:inline-block;
	padding-right:10px;
}
#sidebar .record:hover > .name .fa {
	display:inline-block;
}
#sidebar .record .name .fa {
	color:var(--red);
	margin-left:8px;
	position:absolute;
	right:-20px;
	top:-1px;
	font-size:12pt;
	display:none;
	padding:6px;
}
#sidebar .people {
	margin-bottom:var(--padding);
	min-height:50px;
	position:relative;
}
#sidebar .people .profilepic {
	width:50px;
	height:50px;
	position:absolute;
	left:0;
	border-radius:100px;
	background:url(pic2.png) scroll no-repeat center center;
}
#sidebar .people .name {
	float:left;
	font:400 12pt/25px "Open Sans",Helvetica;
	padding:2px 0 0 60px;
	letter-spacing:-.5px;
	color:var(--green);
}
#sidebar .people.primary .name {
	color:#fff;
}
#sidebar .people .role .fa {
	color:#ccc;
	padding-left:5px;
	cursor:pointer;
}
#sidebar .people .role .fa:hover {
	color:var(--blue)
}
#sidebar .people.primary .role .fa {
	color:rgba(0,0,0,.4);
}
#sidebar .people .role {
	position: absolute;
   	color: #888;
  	font: 100 10pt/15px "Open Sans", Helvetica;
   	padding: 2px 0 0 60px;
    	top: 27px;
}
#sidebar .people.primary .role {
	color:rgba(255,255,255,.7);
}
#sidebar .people .role span,#sidebar .people .role span {
	font-weight:bold;
	color:var(--red);
}
#sidebar .newPerson, #sidebar .newRecord {
	position:relative;
	margin-top:var(--padding);
}
#sidebar input[type="text"] {
	padding:0 10px 0 36px;
	border-radius:3px;
	font:11pt/30px "Open Sans", Helvetica;
	border:1px solid rgba(0,0,0,.2);
	color:#333;
	width:calc(var(--sidebarWidth) - 165px);
	margin:0 0 0 10px;
}
#sidebar .fa-search {
	position:absolute;
	line-height:32px;
	font-size:11pt;
	left:86px;
	color:#aaa;
}
#sidebar .sidebarbox .leftButton {
	float:left;
	border-radius:5px;
	height:32px;
	border:1px solid var(--border);
	background:var(--bg);
	color:rgba(0,0,0,.6);
	font:bold 10pt/30px "Open Sans", Helvetica;
	width:65px;
	text-align-last:center;
	cursor:pointer;
	letter-spacing: -.5px;
}
#sidebar input[type="text"]::placeholder {
	color:#888;
}
#sidebar input[type="Text"]:focus {
	border-color:var(--green);
	outline-width:0;
}

/* Page Navigation */

.navigation {
	height:40px;
	border-radius:3px;
	width:100%;
	font:17pt/30px "Open Sans",Helvetica;
}
.navigation .fa {
	padding-right:5px;
}
.navigation .rightarrow .fa, .navigation .leftarrow .fa {
	padding:0;
}
.navigation .link {
	float:right;
	position:relative;
}
.navigation .link > span {
	font-size:11pt;
	padding:0 10px;
	color:rgba(0,0,0,.4);
	cursor:pointer;
	padding-bottom:calc(var(--padding) / 2);
}
.navigation .link span:hover {
	color:var(--green);
}
.navigation .link .notVisible {
	display:none;
}
/*Filter dropdown*/

.dropdown {
	position:absolute;
	background:#fff;
	display:none;
	top:36px;
	left:6px;
	color:#000;
	z-index:1000;
	width:180px;
	padding:var(--padding);
	box-shadow:0 0 10px #e3e3e3;
	font:11pt/20px "Open Sans",Helvetica;
	border-radius:5px;
	border:1px solid var(--border);
	border-top:3px solid var(--green);
	cursor:default;
}
.dropdown.show {display:block;}
.dropdown:before {
	content:"";
	border-style: solid;
	border-width: 0px 10px 8px 10px;
	border-color: transparent transparent var(--green) transparent;
	position: absolute;
	left: 20px;
	top:-11px
}
.dropdown h4  {
	margin-top:0;
}
.dropdown input[type="checkbox"]{
	float:left;
	margin:4px 10px 4px 0;
}
.dropdown label {
	float:left;
	margin-bottom:10px;
	color:#555;
	cursor:pointer;
}
.dropdown label:last-child {
	margin-bottom:0;
}
.dropdown button {
	background:var(--darkbg);
	border:0;
	height:26px;
	padding:0 15px;
	color:var(--green);
	margin-top:10px;
	font:bold 10pt/26px "Open Sans",Helvetica;
	border-radius:5px;
	cursor:pointer;
}

/*       */

.navigation .nav {
	float:right;
	display:inline-block;
	padding-bottom:calc(var(--padding) / 2);
	margin-left:10px;
}
.navigation .rightarrow, .navigation .leftarrow {
	float:right;
	color:rgba(0,0,0,.3);
	cursor:pointer;
	padding-bottom:calc(var(--padding) / 2);
}
.navigation .rightarrow:hover, .navigation .leftarrow:hover {
	color:var(--green);
}
.navigation .pages {
	float:right;
	color:rgba(0,0,0,.2);
	font-size:11pt;
	font-weight:Bold;
	margin:0 8px;
}
.navigation .pages span:hover {
	color:var(--green);
	cursor:pointer;
}
.navigation .pages span {
	padding:0 5px;
}
.navigation .pages span:nth-child(2) {
	color:var(--green);
	font-weight:bold;
}

/* main structure */
#posts {
	width:var(--postWidth);
	float:left;
}
#details,#attachments {
	display:none;
	float:left;
	background:#fff;
	border:1px solid var(--border);
	border-top-width:3px;
	border-radius:5px;
	padding:var(--padding);
	width:calc(var(--postWidth) - 42px)
}
#details .title {
	margin: 0 0 var(--padding) 0;
	padding: 0 10px;
	border-radius: 3px;
	font: 100 13pt/30px Helvetica;
	border: 1px solid rgba(0,0,0,.1);
	color: #333;
	width:calc(100% - var(--padding));
}
#details select {
	width:25%;
	padding:0 10px;
	border:1px solid #eee;
	background:#fff;
	font:10pt/30px Helvetica;
	height:30px;
	margin:0 var(--padding) var(--padding) 0;
	float:left;
}
#details input[type="radio"] {
     margin: 8px 0 0 0;
	padding:0;
	float:left;
}
#details label {
	font:10pt/30px Helvetica;
	color:#777;
	padding:0 15px 0 8px;
	float:left;
}
#details .person {
	margin:0 var(--padding) var(--padding) 0;
	padding: 0 10px;
	border-radius: 3px;
	font: 100 10pt/30px Helvetica;
	border: 1px solid rgba(0,0,0,.1);
	color: #333;
	width:20%;
	float:left;
}
#details .epic.person {
	margin-right:0;
}
#details input[type="submit"] {
	background: var(--blue);
	border: 0;
	color: #fff;
	font: 11pt/28px Helvetica;
	border-radius: 5px;
	margin:0;
	padding: 0 10px;
	cursor:pointer;
}
#content .post {
	margin-top:calc(2 * var(--padding));
	position:relative;
	border:1px solid var(--border);
	border-top-width:3px;
	border-radius:5px;
	background:#fff;
}
#content .post.first {
	margin-top:0;
}
#content .post.last {
	margin-bottom:15px;
}
#content .post .entry {
	padding:0 var(--padding) var(--padding) var(--padding);
	font:11pt/26px Helvetica;
	color:#444;
	overflow:hidden;
	width:calc(100% - 40px);
}
#content .post .entry a {
	color:var(--blue);
	text-decoration:none;
	border-bottom:1px dotted var(--blue);
}
#content .post .entry ol li {
	list-style:disc;
	margin-left:20px;
}
#content .post .entry ol {
	margin-bottom:10px;
}
#content .post .entry p {
	padding-bottom:10px;
}
#content .post .entry p:last-of-type {
	padding:0;
}
#content .post .entry pre {
	font-family:Courier;
	padding-bottom:10px;
}
#content .attachments span, #attachments .file {
	margin-top:10px;
	background:#fafafa;
	border-radius:5px;
	border:1px solid rgba(0,0,0,.05);
	padding:10px var(--padding);
	font:11pt/20px Helvetica;
	color:#666;
	color:var(--blue);
	cursor:pointer;
	display:block;
}
#content .attachments span:first-child {
	margin-top:0;
}
#content .post .attachments {
	padding:var(--padding) 0 0 0;
}
#content .post.new .attachments {
	padding:var(--padding);
	width:calc(100% - 40px);
}
#content .attachments span:hover, #attachments .file:hover {
	background:#f6f6f6;
}
#content .page .file .fa, #content .page .attachments span .fa {
	padding-right:10px;
}
#content .header {
	padding:var(--padding);
	height:50px;
	position:relative;
	border-bottom:0;
}
#content .post.new .header {
	height:30px;
	padding:15px var(--padding);
}
#content .header:before { /**Chat box arrow magic**/
    content:"";
    border-style: solid;
    border-width: 0px 15px 12px 15px;
    border-color: transparent transparent var(--border) transparent;
    position: absolute;
    left: 30px;
    top:-14px
}
#content .post.epic .header:before, #content .post.new.public .header:before {
	border-bottom-color:var(--red);
}
#content .post.new .header:before {
	border-bottom-color:var(--blue);
}
#content .post.epic {
	border-top-color:var(--red);
}
#content .post .number {
	float:right;
	border:1px solid var(--border);
	border-radius:5px;
	height:28px;
	font:10pt/28px "Open Sans",Helvetica;
	color:rgba(0,0,0,.6);
	padding:0 10px;
	min-width:20px;
	text-align:center;
	margin-left:10px;
}
#content .post.epic .number {
	color:var(--red);
}
#content .post .header .flag, #content .post .header .phi {
	float:right;
	position:relative;
}
#content .post .header .flag i, #content .post .header .phi i {
	color:var(--green);
	padding:0 10px;
	font-size:13pt;
	line-height:30px;
	cursor:pointer;
	height:30px;
	padding-bottom:10px;
}
#content .post .flag .dropdown {
	left:-12px;
	top:40px;
}
#content .post .header .phi i {
	color:#ccc;
	font-size:15pt;
}
#content .post .header .phi .fa-lock {
	color:var(--yellow);
}
#content .post .phi:hover {
	color:#777;
}
#content .post .profilepic {
	width:50px;
	height:50px;
	float:left;
	border-radius:50px;
	background:url(pic2.png) scroll no-repeat center center;
}
#content .post .name {
	float:left;
	padding-left:var(--padding);
	font:400 14pt/30px "Open Sans",Helvetica;
	letter-spacing:-.5px;
	display:inline-block;
	color:var(--green);
}
#content .post .name sup, #sidebar .name sup {
	font-size:9pt;
	color:var(--red);
	position:relative;
	top:-4px;
	left:4px;
}
#content .post .name .fa {
	color:#ccc;
	margin-left:var(--padding);
	cursor:pointer;
}
#content .post .name .fa:hover {
	color:var(--blue);
}
#content .post .header .newDate {
	position:absolute;
	left:90px;
	top:45px;
	font:10pt/30px "Open Sans",Helvetica;
	color:#aaa;
	letter-spacing:-.5px;
}
#content .post .footer {
	height:30px;
	width:calc(100% - var(--padding));
	padding:10px 10px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top:1px solid var(--border);
	font:10pt/30px "Open Sans",Helvetica;
	letter-spacing:-.5px;
	color:rgba(0,0,0,.5);
	background:var(--darkbg);
	position:relative;
}
#content .post .footer .left {
	padding:0 10px;
	cursor:pointer;
	font-size:12pt;
}
#content .post .footer .right {
	margin-right:10px;
}
#content .post .footer .confidential {
	display:none;
	float:right;
	font-size:14pt;
	cursor:pointer;
	padding:0 10px;
}
#content .post.phi .footer .confidential {
	display:inline-block;
}
#content .post .footer .confidential .show {
	display:none;
}
#content .post.min .footer .confidential .show {
	display:inline-block;
}
#content .post.min .footer .confidential .hide {
	display:none;
}
#content .post .footer .confidential:hover > span .fa, #content .post .footer span:hover > .fa {
	color:var(--blue);
}

/* New Post */

#content .post.new {
	margin-top:var(--padding);
	border-top-color:var(--blue);
}
#content .post.new.public {
	border-top-color:var(--red);
}
#content .post.new .header .style .fa {
	color:#666;
	line-height:30px;
	margin-right:15px;
	cursor:pointer;
}
#content .post.new select {
	background: #fff;
	height: 20px;
	padding: 0;
	margin: 0 10px 0 0;
	border: 1px solid rgba(0,0,0,.1);
	font:10pt/20px "Open Sans", Helvetica;
}
#content .post.new textarea {
	border:0;
	resize:none;
	background:#fff;
	padding:0px var(--padding);
	display:block;
	font:11pt/26px Helvetica;
	color:#444;
	min-height:190px;
	min-width:calc(100% - 40px);
	max-width:calc(100% - 40px);
}
#content .post.new .footer label {
	margin:0 15px 0 0;
	cursor:pointer;
}
#content .post.new .footer .fa {
	padding-right:8px;
}
#content .post.new input[type="checkbox"] {
	margin-right:8px;
	cursor:pointer;
}
#content .post.new .footer button {
	background:var(--blue);
	color:#fff;
	font:100 11pt/28px "Opens Sans", Helvetica;
	border-radius:5px;
	margin:0 10px 0 0;
	padding:0 10px;
	border:1px solid var(--blue);
}
#content .post.new .footer .attach {
	background:#fff;
	border:1px solid var(--border);
	color:var(--darkBlue);
	margin:0 0 0 10px;
}

/* Footer */

#footer {
	padding:0 var(--padding);
	background:var(--darkBlue);
	height:10px;
	min-width:var(--minContentWidth);
}
