html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000;
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0;
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}

/*
Code Begins
*/
.clear{
     clear:both;
}
body {
     padding:100px;
     max-width:1920px;
}
.leftSide {
     float:left;
     width:calc(70% - 100px);
     display:block;
}
.rightSide {
     float:right;
     width:30%;
     position:relative;
     height:calc(100vh - 200px);
}
h1 {
     font: 700 13pt/36px 'Catamaran';
    letter-spacing: -.2px;
    color: #fff;
    border-radius: 3px;
    background: #99e1e5;
    display: inline-block;
    padding: 0 10px;
}
h1 .fa {
     color:#ccc;
     padding-right:5px;
     font-size:15pt;
}
#contact {
     position:absolute;
     top:0;
     right:0;
     font-size:15pt;
     color:#ccc;
     cursor:pointer;
     line-height:36px;
}
#contact:hover {
     color:#777;
}
.text .caption {
     display:none;
}
.text .caption:first-child {
     display:block;
}
.frame {
     text-align:center;
     display:none;
     height:calc(100vh - 200px);
}
.helper {
     display: inline-block;
     height: 100%;
     vertical-align: middle;
}
img {
     max-width:99%;
     max-height:calc(100vh - 200px);
     margin:0 auto;
     vertical-align: middle;
     display:inline-block;
}
.leftSide .frame:first-child {
     display:block;
}
h2 {
     font:700 40pt/50px 'Catamaran';
     letter-spacing:-2.5px;
     padding:50px 0 25px;
}
h3 {
     font:200 20px/30px 'Catamaran';
     letter-spacing:-1px;
     color:#ccc;
     padding:0 0 25px 0;
}
p {
     font:200 15pt/35px 'Catamaran';
     letter-spacing:-.5px;
     color:#666;
     padding-bottom:30px;
}
.caption a {
     display:inline-block;
     background:#eee;
     font:400 13pt/46px 'Catamaran';
     letter-spacing:-.5px;
     color:#666;
     padding:0 20px;
     text-decoration:none;
}
.caption a:hover {
     background:#eaeaea;
     color:#333;
}
footer {
     height:30px;
     width:100%;
     display:block;
     position:absolute;
     bottom:0px;
     background:rgba(255,255,255,.8);
}
footer .counter {
     display:block;
     width:100%;
     text-align:center;
     font:400 15pt/30px 'Catamaran';
     color:#444;
     z-index:1;
}
footer .fa {
     position:absolute;
     top:0px;
     font-size:20pt;
     color:#333;
     line-height:30px;
     z-index:2;
     cursor:pointer;
}
footer .fa-angle-left {
     left:0;
}
footer .fa-angle-right {
     right:0;
}
footer .fa:hover {
     color:#17bebb;
}
