html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike,strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd,ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;list-style:none;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

:root {
	--width:750px;
}
body {
	background:#E5E3E4;
}
#card {
	margin:50px auto;
	width:calc(var(--width) - 100px);
	height:calc(1050px - 100px);
	background:#E9DBD5;
	background:#D8DBFD;
	background:#E5DDEF;
	padding:50px;
	box-shadow:0 25px 50px rgba(0,0,0,.2);
	position:relative;
}
#color {
	width:var(--width);
	background:#fff;
	height:250px;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
#border {
	position:relative;
	z-index:1000;
	padding:100px 50px;
	height:calc(1050px - 300px);
	border:1px solid rgba(0,0,0,.7);
}
#logo {
	display:inline-block;
	background:#000;
	border-radius:300px;
	margin:15px 0 0 0;
	font:100 44pt/1 "Abril Fatface";
	color:#fff;
	position:Relative;
	padding:10px;
	text-align:center;
}
#logo .border {
	border:1px solid #fff;
	border-radius:300px;
	height:150px;
	width:150px;
	line-height:150px;
}
#logo span:nth-child(1)
{
	position:absolute;

	left:35px;
}
#logo span:nth-child(2)
{
	position:absolute;
	padding-top:2px;
	left:70px;
	font-size:25pt;
}
#logo span:nth-child(3)
{
	position:absolute;

	left:100px;
}
#state {
	background:url(state2.png) scroll no-repeat 0 0;
	height:300px;
	width:300px;
	position:absolute;
	top:270px;
	right:20px;
	opacity:.5;
}
h1 {
	font:100 50pt/80px "Lato";
	font-family:"Roboto Slab","Abril Fatface","Josefin Sans";
	letter-spacing:-1px;
	text-transform:uppercase;
	margin:75px 0 75px;
}
h1 span {
	display:block;
}
h2 {

	font:400 28pt/55px "Lato";
	font-family:"Josefin Sans";
	letter-spacing:-3px;
}

h3 {
	font:400 23pt/40px "Lato";
	font-family:"Josefin Sans";
	letter-spacing:-1.5px;
	margin:25px 0 25px;

}
h4 {
	margin-top:60px;
	letter-spacing:-.5px;
	font:25pt/1 "Charmonman";
	color:rgba(0,0,0,.7);
}
