html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike,strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd,ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;list-style:none;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

body {

}
.clear{clear:both;}
nav {
	height:50px;
	position:fixed;
	width:100%;
	z-index:5;
	font:10pt/30px 'Source Sans Pro';
	border-radius:7px;
}
nav .wrap {
	margin:0 auto;
	width:820px;
	background:#fff;
}
nav .left {
	border-radius:5px;
	background:#fff;
	margin:20px 0;
	padding:0 15px 0 12px;
	display:inline-block;
	float:left;
	background:#eee;
	color:#888;
	cursor:pointer;
}
nav .left:hover {
	background:#e3e3e3;
	color:#555;
}
nav .right {
	float:left;
	font:italic 100 12pt/30px 'Source Sans Pro';
	background:#28c3d4;
	color:#fff;
	margin:20px 0 20px 10px;
	border-radius:5px;
	padding:0 12px;
	letter-spacing-.5px;
}
header {

	overflow: hidden;
	z-index: 10;
	position: relative;
	width: calc(100% - 2em);
	height:300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
	border:1em solid #fff;
	background-image: url(intro.jpg);
}
h1 {
	font:900 35pt/300px 'Source Sans Pro',Georgia,'DM Serif Display';
	color:#fff;
	letter-spacing:-1px;
	text-align:center;
}
#body {
	width:820px;
	margin:50px auto;
}
#content {
		width:600px;
		float:left;
}
#content img {
	width:600px;
	margin:0 0 30px 0;
}
#meta {
	float:right;
	width:170px;
	padding-left:50px;
	min-height:200px;
}
#meta span {
	font:10pt/25px 'Source Sans Pro';
	text-transform:uppercase;
	display:block;
	color:#222;
	letter-spacing:1px;
}
#meta span i {
	font-style:italic;
	text-transform:lowercase;
	letter-spacing:0px;
	padding-right:5px;
	color:#999;
}
#meta li {
	color:#999;
}
#meta li:hover {
	color:#222;
	cursor:pointer;
}
h2 {
	font:600 16pt/50px 'Source Sans Pro';
	letter-spacing:-.5px;
}
h3 {
	font:900 10pt/30px 'Source Sans Pro';
	text-transform:uppercase;
	padding-top:30px;
	color:#000;
}
p {
	font:12pt/35px 'Source Sans Pro';
	margin:0 0 30px 0;
	text-align:justify;
}
