/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font:12pt/20px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  padding:50px;
}
.hide {
  display:none;
}
.text {
  cursor:edit;
}
.clear {clear:both;
}
input#newItemText {
  font-size:12pt;
  line-height:46px;
  padding:0 20px;
  border:1px solid #ddd;
  float:left;
  margin-right:10px;
  width:calc(100% - 84px);
  border-radius:3px;
  box-shadow:inset 0 0 5px rgba(0,0,0,.05);
  color:#444;
}
input#newItemText:focus {
  border-color:#ccc;
  box-shadow:inset 0 0 5px rgba(0,0,0,.15);
}
button#newItem {
  height:48px;
  padding:0 20px;
  float:left;
  font-weight:bold;
  font-size:12pt;
  line-height:38px;
  border:1px solid rgba(0,0,0,.2);
  background:#01E29F;
  color:rgba(0,0,0,.7);
  cursor:pointer;
  border-radius:3px;
}
button#newItem:hover {
  border-color:rgba(0,0,0,.4);
  color:rgba(0,0,0,.9);
}
button:focus,input:focus {
  outline: none;
}
#alert {
  position:absolute;
  background:#D61C7A;
  color:#fff;
  padding:4px 10px;
  letter-spacing:-.3px;
  border-radius:3px;
  top:110px;
  left:50px;
  display:block;
  opacity:1;
  font-size:11pt;
  transition:.2s linear;
}
#alert.hide {
  opacity:0;
}
#alert::after {
  content:'';
  position:absolute;
  top:-7px;
  left:20px;
  height:0;
  width:0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #D61C7A;
}
ul {
  margin:50px 0;
}
li {
  border-bottom:1px solid #eee;
  margin:10px 0;
  padding:8px 40px 15px 70px;
  position:relative;
  min-height:52px;
}
li:last-child {
  border:0;
}
button.complete { 
  background:#f9f9f9;
  border:1px solid rgba(0,0,0,.1);
  height:50px;
  width:50px;
  border-radius:100px;
  position:absolute;
  left:0;
  top:6px;
  font-size:27pt;
  font-weight:bold;
  text-align:center;
  color:transparent;
  cursor:pointer;
  box-shadow:inset 0 0 5px rgba(0,0,0,.05);
}
button.complete:hover {
  border-color:rgba(0,0,0,.15);
  color:rgba(0,0,0,.2);
  box-shadow:inset 0 0 5px rgba(0,0,0,.1);
}
li.completed button.complete {
  border-color:#30BD93;
  background:#3BE7B4;
  color:rgba(255,255,255,1);
  box-shadow:0 0 0 transparent;
  text-shadow:0 1px 0 #30BD93,0 -1px 0 #30BD93,1px 0px 0 #30BD93,-1px 0 0 #30BD93;
}
button.remove {
 position:absolute;
 right:-50px;
 top:0px;
 padding:0;
 background:0;
 border:0;
 font-size:20pt;
 line-height:52px;
 cursor:pointer;
 color:#ccc;
 width:50px;
 display:none;
}
li:hover button.remove {
  display:block;
}
button.remove:hover {
  display:block;
  color:#777;
}
li span, li form input[type="text"] {
  font-size:16pt;
  letter-spacing:-.5px;
  line-height:25px;
  font-weight:bold;
  padding:0;
  border:0;
  display:block;
  width:100%;
  font-family:'Source Sans Pro', Helvetica, Arial, sans-serif;
}
li.completed span {
  text-decoration:line-through;
  color:rgba(0,0,0,.4);
}
li form input[type="text"] {
  font-style:italic;
 border-bottom:1px dotted #ccc;
  color:rgba(0,0,0,.8);
}
li small {
  display:block;
  line-height:20px;
  font-size:10pt;
  color:#999;
}
li.completed small {
  color:#bbb;
}
button.save {
  display:none;
}
li .star {
  position:absolute;
  right:0;
  width:26px;
  height:25px;
  border:0;
  padding:0;
  top:12px;
  font-size:11pt;
  cursor:pointer;
  background:#eee;
  color:#aaa;
  border-top-right-radius:3px;
  border-top-left-radius:3px;
}
li .star:hover {
  color:#777;
  background:#ddd;
}
li .star:hover:after {
  border-left-color:#ddd;
  border-right-color:#ddd;  
}
li .star.highlight {
  background:#FF8469;
  color:#fff;
}
li .star::after {
  content:'';
  position:absolute;
  top:25px;
  left:0;
  height:0;
  width:0;
  border-left: 13px solid #eee;
  border-right: 13px solid #eee;
  border-bottom: 8px solid transparent;
}
li .star.highlight::after {
  border-left-color:#FF8469;
  border-right-color:#FF8469;
}
#clearAll {
  font-size:10pt;
  color:#aaa;
  cursor:pointer;
  position:fixed;
  bottom:50px;
  background:#fff;
}
#clearAll:hover {
  color:#000;
}