html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: orange;
  }
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }
body {
	font-family:Helvetica;
	font-size:12pt;
	padding:20px;
	background:#265b51; /* dark green */
	/*background:#1e3250;*/ /* dark blue */
	min-width:450px;
	font-weight:300;
}
.clear {clear:both;}
input,button {
	font-family:Helvetica;
	border:0;
	font-weight:300;
}
input:focus {
	outline:none;
}
#newTaskEntry {
	padding:0 0 20px 0;
}
#newTaskEntry input[type="text"] {
	background:rgba(255,255,255,.6);
	padding:0px 30px;
	margin:0 20px 0 0;
	line-height:60px;
	height:60px;
	font-size:18pt;
	width:calc(100% - 390px);
	float:left;
}
#newTaskEntry input[type="date"] {
	background:rgba(255,255,255,.6);
	padding:0 20px;
	line-height:30px;
	margin:0 20px 0 0;
	width:150px;
	font-size:16pt;
	height:60px;
	line-height:60px;
	text-align:center;
	float:left;
	color:rgba(0,0,0,.6);
}
#newTaskEntry input[type="date"]:focus {
	color:#000;
}
#newTaskEntry input:focus {
	background:rgba(255,255,255,.8);
}
#newTaskEntry button {
	background:rgba(0,0,0,.3);
	color:#fff;
	padding:0;
	line-height:30px;
	font-size:16pt;
	width:100px;
	line-height:60px;
	height:60px;
	float:left;
	font-weight:300;
}
#newTaskEntry button:hover {
	background:rgba(0,0,0,.4);
}
.task {
	position:Relative;
	margin:0 0 20px 0;
	padding:30px;
	height:80px;
	background:rgba(255,255,255,.1);
	display:block;
	border-right:50px solid rgba(255,255,255,.05);
}

.homeLink {
	margin:0;
	float:left;
	width:50px;
	display:block;
	height:205px;
	background:rgba(0,0,0,.1);
	line-height:200px;
	text-align:center;
	font-size:25pt;
	color:rgba(255,255,255,.6);
	color:#fff;
}
#singleTaskPage .homeLink:hover {
	background:rgba(0,0,0,.15);
	color:#fff;
}
#singleTaskPage .task {
	float:right;
	height:145px;
	width:calc(100% - 160px);
}
.task input[type="text"] {
	margin:0 20px 20px 0;
	background:rgba(255,255,255,.1);
	font-size:22pt;
	padding:0 20px;
	height:60px;
	color:#fff;
	line-height:60px;
	width:calc(100% - 160px);
	display:inline-block;
}
.task input[type="text"]:focus {
	background:rgba(255,255,255,.2);
}
.task button.edit {
	background:rgba(0,0,0,.2);
	color:#fff;
	margin:0;
	line-height:35px;
	font-size:11pt;
	width:100px;
	height:60px;
	line-height:60px;
	margin:0;
	font-size:18pt;
	padding:0;
	float:right;
}
.task button.delete {
	color:#fff;
	padding:0 8px;
	line-height:25px;
	background:#c25e63;
	font-size:10pt;
	opacity:.7;
	margin:20px 0 0 0;
}
.task button.delete:hover {
	opacity:1;
}
.task button.edit:hover {
	background:rgba(0,0,0,.3);
}
#taskList .task.true {
	opacity:.4;
}
#taskList .task:hover {
	background:rgba(255,255,255,.15);
}
.task .complete {
	color:rgba(255,255,255,.6);
	position:absolute;
	right:-50px;
	top:0;
	background:none;
	height:140px;
	width:50px;
	font-size:25pt;
}
#singleTaskPage .complete {
	height:205px;
}
.task.false .complete:hover {
	color:#fff;
	background:rgba(255,255,255,.05);
}
.task.true .complete {
	color:rgba(0,0,0,.3);
}
.task.true .complete:hover {
	color:rgba(0,0,0,.6);
	background:rgba(255,255,255,.1);
}
 button {
	 cursor:pointer;
 }
 a {
	 text-decoration:none;
	 color:#000;
 }
 h1 {
	 font-size:25pt;
	 line-height:50px;
	 padding:0px 0 10px 0;
	 color:#fff;
	 font-weight:300;
	 letter-spacing:-.5px;
 }
 h2 {
	 font-style:italic;
	 color:rgba(255,255,255,.6);
	 line-height:20px;
	 padding:0 0 10px 0;
 }
