html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: orange;
  }
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border:3px solid orange;
  }
body {
	font-family:Helvetica,Sans;
	font-size:12pt;
	background:#265b51; /* dark green */
	/*background:#1e3250;*/ /* dark blue */
	background:#fff;
	font-weight:300;
}
.wrapper {
	min-width:500px;
	max-width:700px;
	margin:0 auto;
}
.clear {clear:both;}
input:focus {outline:none;}
button {cursor:pointer;}
a {text-decoration:none;}
input,button {
	font-family:Helvetica,Sans;
	font-weight:300;
	border-radius:4px;
	font-size:14pt;
	letter-spacing:-.5px;
	border:0;
	box-shadow:0 2px 5px rgba(0,0,0,.1);
}
/*
	Header
*/
#newTaskEntry {
	padding:30px 40px;
	background:#3f3cc9;
}
#newTaskEntry input {
	background:#fff;
	height:44px;
	line-height:44px;
	float:left;
	margin:0 30px 0 0;
	padding:0px 15px;
}
#newTaskEntry input[type="text"] {
	width:calc(100% - 330px);
	color:#8a89cd;
}
#newTaskEntry input[type="date"] {
	width:130px;
	text-align:center;
	color:#9492e9;
}
#newTaskEntry input:focus {
	box-shadow:0 2px 5px rgba(0,0,0,.4);
	color:#214da5;
}
#newTaskEntry button {
	background:#c0c8ff;
	color:#3f3cc9;
	width:80px;
	height:44px;
	float:left;
	border:0;
}
#newTaskEntry button:hover {
	background:#dfe3ff;
}
/*
	Task List
*/
#taskList {
	padding:25px 40px;
}
#taskList .task {
	position:Relative;
	padding:15px 0px;
	height:40px;
	background:rgba(255,255,255,.1);
}
#taskList .task.true h1, #taskList .task.true h2 {
	color:rgba(0,0,0,.4);
}
#taskList .task:hover {
	background:rgba(255,255,255,.15);
}
.task h1 {
	font-size:18pt;
	line-height:40px;
	height:40px;
	width:calc(100% - 150px);
	margin:0 0px 0 60px;
	color:#000;
	font-weight:300;
	letter-spacing:-.5px;
	display:inline-block;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	
}
.task:hover h1 span {
	border-bottom:1px solid rgba(0,0,0,.2);
	padding:0 0 5px 0;
}
.task h2 {
	color: #000;
	font-size:10pt;
	position: absolute;
	right: 0px;
	top: 22px;
	background: #f3f3f3;
	line-height: 25px;
	padding: 0 12px;
	border-radius: 100px;
}
.task:hover h2 {
	color:rgba(0,0,0,.8);
}
.task button.complete {
	color:rgba(255,255,255,.6);
	position:absolute;
	left:0px;
	top:19px;
	background:none;
	height:30px;
	width:30px;
	font-size:14pt;
	border:2px solid #4886e469;
	border-color:#3f3cc9;
	border-radius:100px;
	box-shadow:0 0;
}
.task button.complete span {
	left:-2px;
	position:relative;
}
.task.false button.complete:hover {
	background:#f1f2fc;
}
.task.true button.complete {
	border-color:#c0c8ff;
	color:#c0c8ff;
}
/*
	Empty Task List
*/
h3 {
	line-height:100px;
	font-size:16pt;
	color:#666;
	text-align:center;
}
/*
	Individual Task Page
*/
html {
	height:calc(100% - 200px);
}
#root,body,#singleTaskPage {
	height:100%;
}
#singleTaskPage {
	padding:100px 40px;
	background:#3f3cc9;
}
#singleTaskPage .wrapper {
	height:100%;
}
#singleTaskPage .homeLink {
	float:left;
	width:50px;
	line-height:50px;
	font-size:20pt;
	color:#a9a8e7;
}
#singleTaskPage .homeLink:hover {
	color:#dfe3ff;
}
#singleTaskPage input {
	background:#fff;
	height:44px;
	line-height:44px;
	float:left;
	margin:0 30px 0 0;
	padding:0px 15px;
}
#singleTaskPage input[type="text"] {
	width:calc(100% - 380px);
	color:#8a89cd;
}
#singleTaskPage input[type="date"] {
	width:130px;
	text-align:center;
	color:#889fcf;
	letter-spacing:-1px;
}
#singleTaskPage input:focus {
	box-shadow:0 2px 5px rgba(0,0,0,.4);
	color:#214da5;
}
#singleTaskPage button.edit { /* style button different because there's a <link> in it */
	float:left;
	padding:0;
}
#singleTaskPage button.edit a {
	background:#c0c8ff;
	width:80px;
	height:44px;
	display:inline-block;
	border-radius:3px;
	line-height:44px;
}
#singleTaskPage button.edit a:hover {
	background:#dfe3ff;
}
#singleTaskPage button.edit a {
	color:#3f3cc9;
}
#singleTaskPage button.delete {
	margin:30px 0 0 50px;
	background:none;
	border:0;
	padding:0;
	box-shadow:0 0;
}
#singleTaskPage button.delete a {
	color:rgb(227, 107, 107);
	font-size:10pt;
	line-height:26px;
}
#singleTaskPage button.delete a:hover {
	border-bottom:1px solid rgb(227, 107, 107);
}