html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: orange;
  }
  *::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
  }
body {
	font-family:Helvetica;
	font-size:12pt;
	padding:20px;
	background:#265b51;
}
input,button {
	font-family:Helvetica;
	font-size:12pt;
	padding:5px;
}
input[type="text"] {
	background:#fff;
	border:0;
	padding:10px 20px;
	margin:0 20px 0 0;
	line-height:30px;
	font-size:15pt;
}
input[type="date"] {
	background:#fff;
	border:0;
	padding:10px 20px;
	line-height:30px;
	margin:0 20px 0 0;
	width:120px;
}
#newTaskEntry button {
	background:rgba(0,0,0,.3);
	border:0;
	color:#fff;
	padding:10px 30px;
	margin:0 10px 0 0;
	line-height:30px;
	font-size:14pt;
}
.task button {
	background:rgba(0,0,0,.3);
	border:0;
	color:#fff;
	padding:10px 20px;
	margin:0 10px 0 0;
	line-height:30px;
	font-size:12pt;
}
form {
	padding:0 0 20px 0;
}
.task {
	margin:0 0 20px 0;
	padding:20px;
	background:rgba(255,255,255,.1);
	display:block;
	border-left:5px solid transparent;
}
.task.true {
	border-left:5px solid rgba(255,255,255,.4);
}
#taskList .task:hover {
	background:rgba(255,255,255,.15);
}
 button {
	 cursor:pointer;
 }
 a {
	 text-decoration:none;
	 color:#000;
 }
 a.homeLink {
	margin:0 0 20px 0;
	display:inline-block;
	color:#fff;
	padding:10px 0 0;
	height:40px;
 }
 h1 {
	 font-size:25pt;
	 padding:10px 0 10px 0;
	 color:#fff;
 }
 h2 {
	 font-style:italic;
	 color:rgba(255,255,255,.6);
	 padding:0 0 25px 0;
 }